.animate{
  animation: myscroll 1s ease-in-out both ;
  animation-timeline: view(y 2);
  animation-range: 0 80px;

}

@keyframes myscroll {
  from{
    opacity: 0;
    transform: translateX(-20px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
