<div class="flex flex-col justify-center overflow-hidden items-center">
  <div
    class="relative bg-gradient-to-bl from-blue-500 via-violet-500 to-fuchsia-500 w-full shadow-2xl shadow-blue-600 sm:h-[300px] h-[160px] md:h-[670px]"
  >
    <img
      [src]="imageFondo"
      class="absolute top-10  right-10 animate-transition w-[50%] h-[70%]"
    />
    <img
      [src]="imageSecondary"
      class="absolute top-[450px] left-0 z-30 animate-opacity w-[40%] h-[60%]"
    />
    <div
      class="flex flex-col animate-opacityonly pl-20 pt-40 absolute text-white top-0 left-0 w-full h-full z-10"
    >
      <p class="uppercase font-mono text-3xl">Homeware category</p>

      <h1 class="uppercase text-8xl font-mono font-bold">Lucky Shop</h1>
      <span class="w-2/5">
        <hr />
      </span>
      <div class="flex gap-10 text-white">
        <button
          class="py-3 rounded-2xl px-10 hover:scale-110 hover:bg-violet-500 transition-all ease-in-out duration-1000 bg-white text-xl text-rose-950"
        >
          Shouw Store
        </button>
        <button
          class="rounded-2xl px-10 py-3 text-xl border-2 hover:bg-rose-950 hover:scale-110 ease-in-out duration-1000 transition-all"
        >
          Shop Now
        </button>
      </div>
      <div class="flex gap-2">
        <i class="pi pi-star animate-delay1 pt-7"></i>
        <i class="pi pi-star animate-delay2 pt-7"></i>
        <i class="pi pi-star animate-delay3 pt-7"></i>
        <i class="pi pi-star animate-delay4 pt-7"></i>
        <i class="pi pi-star animate-delay5 pt-7"></i>
      </div>
    </div>
  </div>

  @if (datos.length > 0) {
  <app-favorite [productFavorite]="datos" />
  } @else {
  <div class="container">
    <div class="flex justify-center min-h-screen items-center">
      <div class="flex justify-between w-5/6 items-center gap-4">
        <img src="/product.png" class="w-[25rem] z-10 h-[30rem]" alt="" />
        <div class="w-[20rem] z-20">
          <p class="text-4xl text-white font-bold">Lo sentimos</p>
          <p class="text-xl text-white text-r font-bold">
            No se encontraro productos para mostrar al parecer no tiene ningun
            producto favorito o aun no se a registrado porfavor valla a
            registrarce o busque productos para añadir
          </p>
          <button
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            class="btn btn-danger z-20 overflow-auto"
          >
            Search Product
          </button>
        </div>
        <p class="text-white"></p>
      </div>
    </div>
  </div>
  }
</div>
