.image {
  background-color: #e2e2e2;
  -webkit-clip-path: ellipse(70% 50% at 50% 30%);
  clip-path: ellipse(70% 50% at 50% 30%);
  display: flex;
  height: 300px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: var(--posicionFondo);
}

.animate{
  animation-name: myscroll;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 200ms;
  animation-range: 0 120px;
  animation-timeline: view(y )
}

.animatevertical{
  animation-name: myscroll;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 200ms;
  animation-range: 0 120px;
  animation-timeline: view(y 0)
}

@keyframes myscroll {
  from {
    opacity: 0;
    scale: .3;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);

  }
}
