<!-- Mobile menu, show/hide based on menu open state. -->
<div class=" -z-50" role="dialog" aria-modal="true" *ngIf="isOpenMenu"  >
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed  inset-0 z-50 bg-opacity-75 bg-slate-500"></div>
    <div class="fixed animate-transition inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">

      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
        </a>
        <button type="button" (click)="exitMenu()" class="-m-2.5 rounded-md p-2.5 text-gray-700" >
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      @if (datosBuy.length > 0){
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          <div class="-mx-3">
            <p>Montefreddo</p>
            <div
            class="max-h-[28rem] overflow-hidden"
            >
            <p-orderList
            [value]="datosBuy"
            [listStyle]="{ 'max-height': '30rem' }"
            header="List of Products"
            filterBy="name"
            filterPlaceholder="Filter by name">
                <ng-template let-product class="bg-slate-600" pTemplate="item">
                    <div class="flex flex-wrap p-2 gap-3">
                        <img
                            src="{{ product.img }}"
                            [alt]="product.name"
                            class="w-[4rem] h-[3rem] shadow-md rounded-lg shadow-slate-300  flex-shrink-0 border-round" />
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ product.name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>{{ product.tipo }}</span>
                                </div>
                            </div>
                        <span class="font-bold text-900">
                            {{ '$' + product.precio }}
                        </span>
                        @if(product.cantidad == 1){
                          <button (click)="eliminarlist(product.id)" class="text-white bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-full px-2 py-1 text-center"><i class="pi pi-trash" ></i></button>
                          <p  class=" h-3 justify-center ">{{product.cantidad}}</p>
                          <button (click)="addproduct(product.id)" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-full px-2 py-1 text-center"><i class="pi pi-plus" ></i></button>
                        } @else if (product.cantidad > 1){
                          <button (click)="delitproduct(product.id)" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-full px-2 py-1 text-center"><i class="pi pi-minus" ></i></button>
                          <p class=" h-3 justify-center ">{{product.cantidad}}</p>
                          <button  (click)="addproduct(product.id)" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-full px-2 py-1 text-center"><i class="pi pi-plus" ></i></button>

                        }


                    </div>
                </ng-template>
        </p-orderList>
      </div>

            <hr/>
            <div class="flex w-full justify-between">
                <p>Total items</p>
                <p class="font-bold text-xl">{{total | currency}}</p>
              </div>
              <div class="flex w-full justify-center">
                <button  class="text-white mt-3 bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2" >Go to checkout</button>
              </div>
      </div>
    </div>
  </div>
   </div>
  }
  @else{
    <div class="h-full w-full flex flex-col justify-center items-center">
      <img src="https://th.bing.com/th/id/R.b5b8afcbd08404cbc3f63dc6dc849a66?rik=ReQoCuZKntqEeg&riu=http%3a%2f%2fwww.socialmercaz.com%2fwp-content%2fuploads%2f2022%2f07%2fshopping-social-mercaz.gif&ehk=ej%2fVWQjCoVXlwjRgOHa1Sp6ypHFa4grGcoxuZqZ2sB0%3d&risl=&pid=ImgRaw&r=0" alt="">
      <p class="text-2xl font-bold">Your cart is empty</p>
      <p class="text-sm mx-10 text-center">When you add items from a store, your order will appear here.</p>
      <button [routerLink]="['/products']"  class=" text-white mt-3 bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2" >Go to checkout</button>

    </div>
  }
  </div>
</div>


