<p class="text-slate-600 font-bold text-4xl my-4 mx-4">Stores all</p>
<div class="flex flex-wrap gap-3 my-16 w-full justify-center">
  @if (isloadingStores) { @for (item of [1,2,3,4,5,6,7,8,9]; track $index) {
  <div
    class="card animate shadow shadow-stone-500 w-[320px] h-[280px] hover:opacity-75 cursor-pointer"
  >
    <span class="card-img relative h-[289px] w-full">
      <div class="loader absolute left-[40%] top-[40%] z-30"></div>
      <p-skeleton height="18rem" styleClass="mb-4" />
    </span>
  </div>
  } } @else{ @for (item of stores; track $index) {

  <a
    [routerLink]="['/store', item.id]"
    role="button"
    class="card animate shadow-custom shadow-stone-500 w-[320px] h-[280px] hover:opacity-75 cursor-pointer"
  >
    <img
      src="{{ item.imgStore }}"
      class="card-img h-[289px] w-full"
      alt="Imagen no encontrada"
    />
    <div
      class="card-img-overlay bg-gradient-to-t from-yellow-200 flex flex-col justify-end opacity-95"
    >
      <h5 class="text-green-900 text-2xl font-black">{{ item.name }}</h5>
      <div class="flex justify-between">
        <p class="card-text">
          <small>
            {{ item.rating }} <i class="pi pi-star-fill text-amber-400"></i
          ></small>
        </p>
        @if (item.isOpen) {
        <p class="text-green-400">OPEN</p>
        } @else {
        <p class="text-red-500">CLOSED</p>
        }
      </div>
    </div>
  </a>
  } }
</div>
