.animate {
  animation: myscroll 1s ease-in-out both;
  animation-timeline: view(y 2);
  animation-range: 0 80px;
}

@keyframes myscroll {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes mybutton {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(2);
  }
}
.active-button {
  transition-duration: 2s;
}

.active-button:hover {
  scale: 1.2;
  color: brown;
  scale: 2;
}

#flip {
  height: 70px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}

.scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Efecto de desenfoque en los bordes opcional */
.scroll-container {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 7%,
    black 90%,
    transparent 100%
  );
}

#flip > div > div {
  color: #fff;
  padding: 0px 30px 50px 30px;
  border-radius: 20px;
  height: 45px;
  margin-bottom: 55px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -250px;
  }

  5% {
    margin-top: -190px;
  }

  33% {
    margin-top: -190px;
  }

  38% {
    margin-top: -85px;
  }

  66% {
    margin-top: -85px;
  }

  71% {
    margin-top: 10px;
  }

  99.99% {
    margin-top: 10px;
  }

  100% {
    margin-top: -200px;
  }
}

#container {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  display: inline;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50%
      0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20%
      repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}
