<div class="container">
 <div class="flex justify-center h-96">

   <div class="w-full rounded bg-gradient-to-tr from-slate-400 bg-slate-50 justify-center flex items-center m-5 h-full">
      <div id="carouselId" class="carousel  w-96 rounded h-60 shadow-xl  justify-center flex items-center shadow-green-400 bg-slate-400 slide" data-bs-ride="carousel">
        <ol class="carousel-indicators ">
          <li
            data-bs-target="#carouselId"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="First slide"
          ></li>


        </ol>
        <div class="carousel-inner justify-start ms-5 flex mb-auto pt-3"  >
          <div class="carousel-item active">
            <img
              src="holder.js/900x500/auto/#777:#555/text:First slide"
              class="w-100 d-block"
              alt="First slide"
            />
          </div>
          <div class="carousel-item">
            <img
              src="holder.js/900x500/auto/#666:#444/text:Second slide"
              class="w-100 d-block"
              alt="Second slide"
            />
          </div>
          <div class="carousel-item">
            <img
              src="holder.js/900x500/auto/#666:#444/text:Third slide"
              class="w-100 d-block"
              alt="Third slide"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselId"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselId"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

  </div>
  </div>
</div>
