<div class="mx-4 b flex">
  <span
    class="input-group-text px-3 bg-gradient-to-tl from-red-600 via-red-500 to-red-700 shadow-md shadow-amber-400 h-8 sm:h-8 md:h-14 lg:h-14"
  >
    <i class="pi pi-shop"></i>
  </span>
  <input
    type="text"
    title="find"
    [(ngModel)]="searchElement"
    (keyup)="filterProducts()"
    class="lg:w-[30rem] h-8 sm:h-8 md:h-14 lg:h-14 min-w-0 flex-auto border-2 bg-white/5 px-3.5 py-2 text-black shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:outline-none focus:ring-inset focus:border-blue-500 sm:text-sm sm:leading-6"
  />
  <button
    class="rounded-r-3xl px-3 bg-gradient-to-t hover:bg-gradient-to-b hover:shadow-red-200 shadow-red-400 shadow-md hover:from-yellow-700 hover:via-yellow-500 hover:to-yellow-300 from-yellow-300 via-yellow-500 to-yellow-600 h-8 sm:h-8 md:h-14 lg:h-14 flex justify-center items-center"
    (click)="filterProducts()"
  >
    <i
      class="pi justify-center flex items-center pi-search text-base sm:text-base md:text-xl lg:text-2xl"
    ></i>
  </button>
</div>
